<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.education.rc_demo">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".TripToTanzania"
                  android:label="Trip To Tanzania"
                  android:launchMode="singleTop">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value=".TripToTanzania"></meta-data>
        </activity>
        <activity android:name=".TheOdorousKnight"
                  android:label="The Odorous Knight"
                  android:launchMode="singleTop">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value=".TheOdorousKnight"></meta-data>
        </activity>
        <activity android:name=".AssessmentActivity"
                  android:label="Assessment Activity"
                  android:launchMode="singleTop">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value=".AssessmentActivity"></meta-data>
        </activity>
        <activity android:name=".TTTAssessmentActivity"
                  android:label="TTT Assessment Activity"
                  android:launchMode="singleTop">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                       android:value=".TTTAssessmentActivity"></meta-data>
        </activity>
    </application>

</manifest>